<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Quotes{% if current_tag %} - {{ current_tag.name }}{% endif %}</h1>
    <div class="card-container">
        {% for quote in quotes.items %}
        <div class="card">
            <p class="quote">{{ quote.text }}</p>
            <small>— <a href="{{ url_for('author', author_name=quote.author) }}">{{ quote.author }}</a></small>
            <p>
                {% for tag in quote.tags %}
                    <a class="tag" href="{{ url_for('tag', tag_name=tag.name) }}">{{ tag.name }}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
            </p>
        </div>
        {% endfor %}
    </div>
    <div class="pagination">
        {% if quotes.has_prev %}
            {% if current_tag %}
                <a href="{{ url_for('tag', tag_name=current_tag.name, page=quotes.prev_num) }}">&#171; Previous</a>
            {% else %}
                <a href="{{ url_for('index', page=quotes.prev_num) }}">&#171; Previous</a>
            {% endif %}
        {% endif %}
        {% for page_num in quotes.iter_pages() %}
            {% if page_num %}
                {% if current_tag %}
                    <a href="{{ url_for('tag', tag_name=current_tag.name, page=page_num) }}" class="{{ 'active' if page_num == quotes.page else '' }}">{{ page_num }}</a>
                {% else %}
                    <a href="{{ url_for('index', page=page_num) }}" class="{{ 'active' if page_num == quotes.page else '' }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
                ...
            {% endif %}
        {% endfor %}
        {% if quotes.has_next %}
            {% if current_tag %}
                <a href="{{ url_for('tag', tag_name=current_tag.name, page=quotes.next_num) }}">Next &#187;</a>
            {% else %}
                <a href="{{ url_for('index', page=quotes.next_num) }}">Next &#187;</a>
            {% endif %}
        {% endif %}
    </div>
    <div>
        {% if current_tag %}
        <a class="enlace_inicio" href="{{ url_for('index') }}">Back to all quotes</a>
        {% endif %}
    </div>
</body>
</html>
